{% extends 'base.html.twig' %}

{% block title %}Personagens index{% endblock %}

{% block body %}
    <h1>Personagens index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Detalhes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personagen in personagens %}
            <tr>
                <td>{{ personagen.id }}</td>
                <td>{{ personagen.nome }}</td>
                <td>{{ personagen.detalhes }}</td>
                <td>
                    <a href="{{ path('personagens_show', {'id': personagen.id}) }}">show</a>
                    <a href="{{ path('personagens_edit', {'id': personagen.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('personagens_new') }}">Create new</a>
{% endblock %}
