{% extends 'base.html.twig' %}

{% block title %}Personagens{% endblock %}

{% block body %}
    
    
    <div class='row'>
        <div class='col s6'>
            <h5>{{ personagen.nome }}</h5>
        </div>    
    </div>
    <hr></hr>
    <div class='row'>
        Informações:<br />
        Altura:{{ personagem.height }}<br />
        Peso:{{ personagem.mass}}<br />
        Especie:{{ personagem.especies}}<br />
    </div>
    <div class='row'>
        Filmes:<br />
        {% for filme in  personagem.filmes %}
            {{ filme.year }} - {{ filme.title }}<br />
        {% endfor %}
    </div>
    
    {{ include('personagens/_delete_form.html.twig') }}
{% endblock %}
