<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Personagems Star Wars API!{% endblock %}</title>
        <!--<link src="/build/app.css" rel="stylesheet"/>
        <link src="/build/jquery.css" rel="stylesheet"/>-->
		{{ encore_entry_link_tags('app') }}       
         {{ encore_entry_script_tags('app') }}
         {{ encore_entry_script_tags('jquery') }}
          {{ encore_entry_script_tags('jquery-ui') }}

        
        {% block stylesheets %}{% endblock %}

        
        {% block javascripts %}{% endblock %}
    </head>
    <body>
    	<div class="container">
	    	<div class='row'>
	    	</div>
	    	<div class='row'>
				<div class='col s12 center-align'>			
					<span class='button ' id='btn-consultar' onclick='location.href="/"'>Consultar personagens</span>
					&nbsp;
					<span class='button ' id='btn-listar' onclick='location.href="/personagens/"'>Ver personagens salvos</span>
				</div>
			</div>
	        {% block body %}{% endblock %}
	    </div>
    </body>
    {{ encore_entry_script_tags('personagens') }}
     
     <div id='waitloader'>
		<div class="preloader-wrapper big active">
			<div class="spinner-layer spinner-blue-only">
		      <div class="circle-clipper left">
		        <div class="circle"></div>
		      </div><div class="gap-patch">
		        <div class="circle"></div>
		      </div><div class="circle-clipper right">
		        <div class="circle"></div>
		      </div>
		    </div>
		</div>
	</div>
</html>
